
*.obj
*.tlog
*.log
*.recipe
*.iobj
*.ipdb
*.dll
*.opendb
*.db-wal
*.db-shm
*.db
.vs/cobalt/v17/.suo
*.ipch
*.bin
output/release/beta1
output/release/beta2
output/release/beta4
output/release/beta3
output/release/DLL-Encryptor.exe
.vs/cobalt/v17/HierarchyCache.v1.txt
